/SD2411.KPI2019/SD2411.KPI2019.Web/obj
/SD2411.KPI2019/SD2411.KPI2019.Web/bin
/SD2411.KPI2019/.vs
/src/Infrastructure/SD2411.KPI2019.Infrastructure/obj
/src/Infrastructure/SD2411.KPI2019.Infrastructure/bin
/src/Hosts/SD2411.KPI2019.Host/obj
/src/Hosts/SD2411.KPI2019.Host/bin
.vs/
/src/Modules/SD2411.KPI2019.Module.Users/obj
/src/Modules/SD2411.KPI2019.Module.Users/bin
/src/Hosts/SD2411.KPI2019.HostStandard/obj
/src/Hosts/SD2411.KPI2019.HostStandard/bin
/src/Modules/SD2411.KPI2019.Module.Core/obj
/src/Modules/SD2411.KPI2019.Module.Core/bin
/src/SD2411.KPI2019.HostStandard/obj
/src/SD2411.KPI2019.HostStandard/bin
/src/Modules/SD2411.KPI2019.Module.Books/obj
/src/Modules/SD2411.KPI2019.Module.Books/bin
/src/Modules/SD2411.KPI2019.Module.BookLending/obj
/src/Modules/SD2411.KPI2019.Module.BookLending/bin
/src/Tests/SD2411.KPI2019.Module.Users.Test/obj
/src/Tests/SD2411.KPI2019.Module.Users.Test/bin
