<div class="container" *ngIf="!!lstBooks">
    <div class="row">
        <div *ngFor="let book of lstBooks.data">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="my-list">
                    <img [src]="book.imageUrl" [alt]="book.name" height="180" width="240"/>
                    <h3>{{book.name | slice:0:30}}</h3>
                    <span>Cat:{{book.catName}}</span>
                    <span class="pull-right">ISBN:{{book.isbn}}</span>
                    <div class="offer">{{book.author | slice:0:25}}</div>
                    <div class="detail">
                        <p style="color: blue;">{{book.name | slice:0:30}} </p>
                        <img [src]="book.imageUrl" [alt]="book.name" height="180" width="240" class="p-5" />
                        <button [ngClass]="book.available2Lend?'btn btn-success':'btn btn-standard'" class="p-5" (click)="lendABook(book.id)" [disabled]="!book.available2Lend">{{book.available2Lend?'Borrow':'Borrowed'}}</button>
                        &nbsp;&nbsp;<button [routerLink]="['/management/book-detail', book.slug]" class="btn btn-primary p-5">Detail</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>